# Host/IP to listen on for the GraphQL API
# No SSL nor authentification support so strongly recommended to use localhost.
api_listening_ip: localhost 

# Watering config
check_for_watering_freq_seconds: 10
watering_duration_seconds: 20
sprinkler_pump_drymode: no
watering_schedule_time:
  from_hour: '06:00'
  to_hour: '09:00'

# MiFlora sensors config
miflora_cache_timeout: 600 # Default from MiFlora module. Reducing cache duration increase sensor's battery usage.
check_battery_freq_days: 0 # Zero means disable battery check

# If set:
# 1. Send push notification when watering is triggered using 
#    HA service named notify.<notify_service> 
# 2. Update states of switch.waterplant_<pot-name> when watering
#    Main purpose is for annotating graphs with watering events
homeassistant:
  api_base_url: https://<home-assistant-fqdn>:8123/api
  long_live_token: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  notify_service: mobile_app_iphone


# Each pot has a single sprinkler and one or more MiFlora sensors. 
# If multiple sensors, average moisture measurement is used.
pots:
 - name: plant0
   sprinkler_pin: 1
   sensors:
     - type: Miflora
       name: plant1a
       mac: AA:BB:CC:DD:EE:00
     - type: Miflora
       name: plant1b
       mac: AA:BB:CC:DD:EE:01
  - name: plant1
    sprinkler_pin: 2
    sensors:
     - type: Dummy
       name: plant2a
     - type: Dummy
       name: plant2b
